@import url(https://fonts.googleapis.com/css?family=Lobster);

body {
  font-family: 'Lobster', cursive;
}


p {
  margin: 0;
}

.section {
  background-size: cover;
  background-position: center;
}

.section-content {
  position:relative;
  top:-20%;
  text-align: center;
  font-size: 2.5em;
  color: #fff;
}

#section1 {
  background-color: #355070;
}

#section2 {
  background-color: #6d597a;
}

#section3 {
  background-color: #b56576;
}

#section4 {
  background-color: #21828f;
}

#section5 {
  background-color: #57969e;
}