@import url(https://fonts.googleapis.com/css?family=Lobster);

body {
  font-family: 'Lobster', cursive;
}


p {
  margin: 0;
}

.section {
  background-size: cover;
  background-position: center;
}

.section-content {
  position:relative;
  top:-20%;
  text-align: center;
  font-size: 3em;
  color: #fff;
}

#section1 {
  background-color: #28291562;
}

#section2 {
  background-color: #668a83f5;
}

#section3 {
  background-color: #596b95;
}

#section4 {
  background-color: #21828f;
}

#section5 {
  background-color: #57969e;
}