@import url(https://fonts.googleapis.com/css?family=Lobster);

body {
  font-family: 'Lobster', cursive;
}


p {
  margin: 0;
}

.section {
  background-size: cover;
  background-position: center;
}

.section-content {
  position:relative;
  top:-20%;
  text-align: center;
  font-size: 3em;
  color: #fff;
}

#section1 {
  background-color: #484a47;
}

#section2 {
  background-color: #5c6d70;
}

#section3 {
  background-color: #a37774;
}

#section4 {
  background-color: #e88873;
}

#section5 {
  background-color: #e0ac9d;
}